
body {
    font-family: sans-serif;
}

.nav,
.carousel,
.json {
    margin-top: 3%;    
}



.nav-pills>li>a {
    font-size: 30px;
    color:black;
    background-color: gray;
    margin:10px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: gold;
}

.carousel {
    background: #000000;
    margin-top: 45px;      
}

.carousel .item img {
    margin: 0 auto;
    width: 100%;  
    /* Align slide image horizontally center */
}

.jumbotron{
      position: relative;
      background: #0d0d0d center center;
      color:gold; 
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;
      text-align: center;
}

h1 {
    text-align: center;
    font-size: 48px;
    letter-spacing: 20px;
}

#submitButton {
    text-align: center;
    margin: 0px
}

#orderForm div {
    margin-top: 12px;
}

.text-success {
    text-align: center;
    font-size: 30px;
    margin: 30px;
}

div#orderForm {
    margin-top: 10%;
    color: yellow;
}

html,
body {
    height: 100%;
    background-image: url(../images/lines.png);
}


/* css for seating options page */

.seatpics {
    width: 100%;
}

.name {
    padding: 10px;
    
    font-size: 30px;
    font-family:cursive;
    color:gold;
    text-align: center;
}

.molsonamp {
    font-size: 20px;
    text-align: center;
    color: gold;
}

.price {
    font-size: 30px;
    text-align: center;
    color: gold;
}

.buyerName {
    padding: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

.buyerComment {
    font-weight: 200;
}

.heading {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: black solid 5px;
    background-color: gold;
}

.log {
    color:white;
}